/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

/* Bootstrap styles */
@import "bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Snackbar Styles *//* Add this to styles.scss or styles.css */
.mat-snack-bar-container {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(202, 103, 103, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Add these variables to your global styles
:root {
  // Primary Color Scheme
  --primary-base: #4A90E2;
  --primary-light: #89CFF3;
  --primary-dark: #2C7BE5;
  
  // Neutral Colors
  --neutral-50: #F9FAFB;
  --neutral-100: #F3F4F6;
  --neutral-200: #E5E7EB;
  --neutral-700: #374151;
  
  // Other variables
  --shadow-color: rgba(0, 0, 0, 0.08);
  --sidebar-width: 260px;
  --shadow-color: rgba(0, 0, 0, 0.08);

  --header-height: 70px; 
}

/* Success Snackbar */
.mat-snack-bar-success {
    background-color: #2E7D32 !important; /* Deep Green */
    color: #E8F5E9 !important; /* Soft Green Text */
    border-left: 6px solid #66BB6A !important; /* Light Green Accent */
}



/* Error Snackbar */
.mat-snack-bar-error {
    background-color: #C62828 !important; /* Deep Red */
    color: #FFEBEE !important;
    border-left: 6px solid #EF5350 !important;
}

/* Warning Snackbar */
.mat-snack-bar-warning {
    background-color: #FF8F00 !important;
    color: #FFF3E0 !important;
    border-left: 6px solid #FFB74D !important;
}

/* Info Snackbar */
.mat-snack-bar-info {
    background-color: #1565C0 !important;
    color: #E3F2FD !important;
    border-left: 6px solid #64B5F6 !important;
}

/* Action Button */
.mat-simple-snackbar-action {
    color: white !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}

.mat-simple-snackbar-action:hover {
    text-decoration: underline !important;
}


app-welcome-section {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
    overflow: hidden !important;
}

/* Add this to your global styles */
.panel-dialog-container {
  .mat-mdc-dialog-container {
    padding: 0 !important;
    overflow: hidden !important;
    border-radius: 10px !important;
  }
  
  .cdk-overlay-pane {
    max-width: 95vw !important; // Allow the dialog to be very wide
  }
}
